/* #region GENERAL */

:root {

    font-family: Georgia, 'Times New Roman', Times, serif;

    /* do not use pixels for font-size*/
    font-size: 62.5%;

    /* palette */
    --primary-chiari: #fff;
    --secondary-chiari: #eee;
    --tertiary-chiari: #ddd;

    --primary-scure: #353535;
    --secondary-scure: #151515;
    --tertiary-scure: #000;

}

body {
    background-color: var(--tertiary-scure);
}

h1 {
    font-size: 5em;
}

button {
    color: var(--primary-chiari);
    border: 1px solid var(--primary-scure);
    background-color: var(--tertiary-scure);
    font-size: 3em;
}

/* #endregion GENERAL */

/* #region HEADER */

header {
    color: var(--primary-chiari);
    text-align: center;
    background: linear-gradient(var(--tertiary-scure), var(--primary-scure));
    height: 50px;
    margin-bottom: 50px;
}

header nav {
    height: 100%;
}

/* #endregion HEADER */

/* #region MAIN */

.container {
    background: linear-gradient(var(--primary-scure), var(--tertiary-scure), var(--primary-scure));
    display: flex;
    justify-content: center;
    align-content: center;
}

/* #region SECTION 1 */

#buttons {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    margin: 0 1%;
    transition: .5s;
}

.button:hover {
    background-color: var(--primary-chiari);
    color: var(--primary-scure);
    cursor: pointer;
}

.button::after {
    content: "";
    background-color: var(--primary-chiari);
    height: 5px;
    width: 0%;
    display: block;
    transition: 1s;
    margin: 0 auto;
    transform: rotateZ(0deg);
}

.button:hover::after {
    background-color: var(--tertiary-scure);
    width: 100%;
    transform: rotateX(60deg);
}

/* #endregion SECTION 1 */

/* #region SECTION 1.5 */

#all-tab {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 3em;
    color: white;
}

/* #endregion SECTION 1.5 */

/* #region SECTION 2 */

#table {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#table input {
    font-size: 2em;
    height: 40px;
    text-align: center;
}

#table p {
    font-size: 2em;
    margin-top: 1%;
    margin-right: 5%;
}

.template {
    transition: 1s;
    padding: .5%;
    background-color: var(--primary-scure);
    color: var(--primary-chiari);
}

.inputs, .info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.inputs {
    border-top: 1px solid var(--primary-chiari);
}

.info {
    border-bottom: 1px solid var(--primary-chiari);
    padding: 2%;
}

/* #endregion */

/* #endregion MAIN */

/* #region FOOTER */



/* #endregion FOOTER */


/* #region ALT RESOLUTIONS */

@media screen and (max-width: 580px) {
    .inputs {
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .inputs input {
        margin: 0 auto;
    }
}

@media screen and (max-width: 700px) {

    header {
        height: 150px;
    }
}

/* #endregion ALT RESOLUTIONS */